<?xml version="1.0" encoding="utf-8" ?>
<package name="Base">
    <header> 
        <entry name="Title" format="s" mandatory="y" />
        <entry name="Package" format="s" mandatory="y" />
        <entry name="Purpose" format="s" mandatory="y" />
        <entry name="Author" format="s" mandatory="y" />
        <entry name="Created" format="d" mandatory="y" />
    </header>
	<module name="Collections" spec="Collections.aha" />
	<module name="Dictionaries" spec="Dictionaries.aha" />
	<module name="Rational" spec="Rational.aha" />
	<module name="Float" spec="Float.aha" />
	<module name="Time" spec="Time.aha" />
	<module name="Money" spec="Money.aha" />
	<module name="Formatting" spec="Formatting.aha" />
	<module name="StrUtils" spec="StrUtils.aha" />
	<module name="Miscellaneous" spec="Miscellaneous.aha" />
	<module name="Trees" spec="Trees.aha" />
	<module name="Bits" spec="Bits.aha" />
	<module name="Dynamic" spec="Dynamic.aha" />
	<module name="MetaTypes" spec="MetaTypes.aha" />
	<module name="Meta" spec="Meta.aha" />
	<module name="Conversions" spec="Conversions.aha" />
	<source path="C:\Users\Roman\aha-programming-language\Source\Base" language="C#" />
	<binary path="C:\Users\Roman\aha-programming-language\Base.dll" />
</package>